<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.tom.todolist2"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>To Do List 2</name>

    <description>
       An app to make a to do list
    </description>

    <author href="http://tomcanham.website" email="tascanham@gmail.com">
        Tom Canham
    </author>
        <preference name="orientation" value="landscape" />
        <icon src="icon.png" />
</widget>
