<?xml version="1.0" encoding="utf-8" ?>
<widget  xmlns                  ="http://www.w3.org/ns/widgets"
                xmlns:gap           ="http://phonegap.com/ns/1.0"
                id                          ="com.tomcanham.todotest"
                versionCode       ="1"
                version                ="1.0.0">
    <name>todotest</name>
    <description>This is a test for the todo app</description>
    <author href="http://tomcanham.website" email="tascanham@gmail.com">
        Tom Canham
    </author>
    <preference name="orientation" value="landscape"/>
</widget>