<!DOCTYPE html>
<html lang="en"ng-app="toDo">
	<head>
		<title>Angular</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="appMdl.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<div ng-controller="toDoList" id="listHolder">
			<h1>To Do List</h1>
			<ul>
				<li ng-repeat="listItem in listItems">{{listItem.todo_item}}<button class="btn" ng-click="remove($index)">Delete</button></li>
				<li><input type="text" ng-model="input"><button class="btn" id="addItem" ng-click="addItem()">Add Item</button></li>
				<li class="errorMsg">{{errorMsg}}</li>
			</ul>
		</div>
	</body>
</html>